    {% load  wagtailimages_tags %}

    <h1 class="text-center">{{ self.title }}</h1>
        
    <div class="card-deck">
        {% for card in self.cards %}
            <div class="card">
                {% image card.image fill-300x200 as img %}
                <img src="{{ img.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">{{ card.text }}</p>
                    
                    {% if card.button_page %}
                        <a href="{{ card.button_page.url }}" class="btn btn-primary">
                            Leard More
                        </a>
                    {% elif card.button_url %}
                        <a href="{{ card.button_url }}" class="btn btn-primary">
                            Leard More (ext)
                        </a>
                    {% endif %}
                        
                </div>
            </div>
        {% endfor %}
    </div>
